* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Atkinson Hyperlegible;
}

/*sezione header*/

.backg-azzurro {
    background-color: #255EE9;
    justify-content: center;
    display: flex;
}

.conteiner-header {
    width: 1500px;
    margin: 16px;
    height: auto;
    display: flex;
}

ul.lista-header {
    list-style: none;
    display: inline-block;
    padding: 10px;
    color: white;
}


.left {
    width: 20%;
    padding: 5px;
}

.right {
    width: 20%;
    padding: 5px;
    text-align: right;
}

.center {
    width: 60%;
    text-align: center;
    padding: 5px;
}

.border-radius {
    border-radius: 18px;
    background-color: white;
    padding: 12px;
    border: none;
}

/*sezione rettangolo rosa*/

.backg-img {
    height: 550px;
    background-size: cover;
    background-image: url(../img/jumbo.png);
}

.jumbo {
    color: white;
    text-align: center;
    font-size: 60px;
    height: 200px;
}

.text1 {
    text-align: center;
    font-size: 20px;
    width: 800px;
    justify-content: center;
}

.padding {
    padding: 120px;
    font-weight: bold;
}

.button2 {
    color: rgb(0, 0, 0);
    background-color: white;
    border: none;
    border-radius: 20px;
    padding: 15px;
}

.button3 {
    color: white;
    background-color: black;
    border: none;
    border-radius: 20px;
    padding: 15px;
}

/*Sezione rettangoli uniti tipo1*/

.backg-white {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.rettangolo1 {
    background-image: url(../img/item1.svg);
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    width: 42%;
    margin-top: 35px;
}

.rettangolo2 {
    height: 400px;
    width: 18%;
    margin-top: 30px;
}

.testo2 {
    font-weight: bolder;
    font-size: 35px;
    text-align: left;
    margin-top: 45px;
}

.testo3 {
    margin-top: 25px;
}

/*sezione rettangoli uniti tipo 2*/

.backg-gray {
    background-color: #D3D3D3;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}


.rettangolo3 {
    background-image: url(../img/item2.svg);
    background-position: center;
    background-repeat: no-repeat;
    height: 450px;
    width: 42%;
    margin-top: 35px;
    order: 1;
}


.rettangolo4 {
    height: 450px;
    width: 18%;
    margin-top: 35px;
}

.testo4 {
    font-weight: bolder;
    font-size: 35px;
    text-align: left;
    margin-top: 45px;
}

.testo5 {
    margin-top: 25px;
}

/*sezione rettangoli uniti tipo speciale*/

.special {
    background-color: white;
    display: flex;
    justify-content: center;
}


.rettangolo5 {
    height: 450px;
    width: 18%;
    margin-top: 35px;
    order: 1;
}

.rettangolo6 {
    background-image: url(../img/item3.svg);
    background-position: center;
    background-repeat: no-repeat;
    height: 450px;
    width: 42%;
    margin-top: 35px;
    order: 1;
}

.testo6 {
    font-weight: bolder;
    font-size: 35px;
    text-align: left;
    margin-top: 45px;
}

.testo7 {
    margin-top: 25px;
}

/*sezione rettangolo verde*/

.backg-gray2 {
    background-color: #D3D3D3;
    padding-bottom: 45px;
    padding-top: 45px;
}

.rettangolo-verde {
    height: 600px;
    width: 50%;
    margin: auto;
}

.testo-grande {
    text-align: center;
    font-size: 35px;
    font-weight: bolder;
}

.testo-grande2 {
    text-align: center;
    padding-top: 20px;
}

.stars {
    background-image: url(../img/stars.svg);
    display: flex;
    justify-content: center;
}

.stars-text {
    font-weight: bolder;
    font-size: 25px;
}

.button2-center {
    color: white;
    background-color: #7289DA;
    border: none;
    border-radius: 20px;
    padding: 15px;
}

/*sezione rettangoli uniti tipo 3*/

.backg-darkgray {
    background-color: #23272A;
    display: flex;
    justify-content: center;
    padding-bottom: 35px;
    padding-top: 35px;
}

.rettangolo7 {
    color: #7289DA;
    font-size: 25px;
    font-weight: bolder;
    height: 400px;
    width: 10%;
    margin-right: 40px;
}

.line-height-normal {
    margin-top: 25px;
    line-height: normal;
}

.rettangolo8 {
    height: 400px;
    width: 10%;
    margin-top: 12px;
}

.lista-footer {
    list-style: none;
    color: white;
    line-height: 2.5;
}

.loghi {
    display: flex;
    color: white;
    margin-top: 25px;
    justify-content: space-around;
}


.column-footer-first {
    font-size: 13px;
    padding-top: 25px;
}

.foto {
    width: 32px;
    height: 18px;
}

.purple {
    color: #7289DA;
    font-weight: bolder;
}

.rettangolo9 {
    height: 400px;
    width: 10%;
    margin-top: 12px;
}

.rettangolo10 {
    height: 400px;
    width: 10%;
    margin-top: 12px;
}

.rettangolo11 {
    height: 400px;
    width: 10%;
    margin-top: 12px;

}

/*sezione footer*/

.backg-footer {
    padding-top: 10px;
    padding-bottom: 30px;
    background-color: #23272A;
    margin-top: 2px;

}

.conteiner-footer {
    height: 60px;
    width: 50%;
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {}

.button-footer {
    color: white;
    border-radius: 18px;
    background-color: #7289DA;
    padding: 12px;
    border: none;
}